.App {
    flex: 4;
    background: #f3f4f6;
    grid-area: main;
    /* margin: 10px;
    padding: 20px; */
   
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  details {
    border: 1px solid #aaa;
    border-radius: 8px;
    max-width: auto;

    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    max-width: 1008px;
    padding: .5em;
    text-align: left;
    color: black;
    background: transparent;
    /* border: 1px solid lightgray; */
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    width: 92vw;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;

    
}

  