.otp-warning {
  padding-left: 15px;
  padding-top: 5px;
  color: black;
}
.pass-success {
  padding-left: 15px;
  padding-top: 5px;
  color: green;
  font-weight: 500;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap");

.pass-main {
  flex: 4;
}
.pass-container {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 400px;
  background: #f5f5f5;
  overflow: hidden;
  border-radius: 20px;

  box-shadow: 0 0 20px 8px #d0d0d0;
}

.pass-content {
  position: absolute;

  top: 50%;
  left: 5%;
  transform: translatey(-50%);
  text-align: justify;
  color: black;
  padding: 40px;
  font-family: "Merriweather", serif;
}
.pass-submitbtn {
  transform: translate(380%, 400%);
  background-color: darkblue;
  color: #fff;
  font-size: 15px;
  width: 20%;
  padding: 2px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  outline: none;

  transition: 0.1s ease-in-out;
}

.pass-details {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.pass-box {
  margin-bottom: 15px;
  width: 100%;
}
.pass-input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.container:hover .flap::after {
  transform: translatex(300px);
}

.container:hover .flap::before {
  transform: translatex(-300px);
}
.passDetails {
  flex: 4;
  left: 50%;
  top: 70%;
  transform: translate(-1%, 170%);
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.passList {
  height: 28vw;
}
.passTitle {
  margin-bottom: 20px;
  background-color: rgb(240, 240, 255);
  padding: 4px;
  font-weight: bold;
  color: black;
}

.passListItem {
  display: flex;
  align-items: center;
}

.passListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.passListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.passListDelete {
  color: red;
  cursor: pointer;
}

.datas {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.data {
  padding: 1.2px;
  background: white;
  border-radius: 10px;
  font-family: "Gilroy_M";
  font-size: 18px;
  color: black;
}
td {
  padding: 5px;
  vertical-align: top;
  text-align: left;
}
.pass-hide {
  visibility: hidden;
  display: none;
}
.error-visible {
  visibility: visible;
}
.error-hidden {
  visibility: hidden;
}
.disabled {
  opacity: 40%;
  pointer-events: none;
}
.cursor-disable {
  cursor: not-allowed;
}
.pass-hidden {
  visibility: hidden;
  display: none;
}
/* .passmain-hidden {
  visibility: hidden;
  display: block;
} */
.otp-error {
  transform: translate(4%, 800%);
  color: red;
  font-weight: 500;
}
.otperror-hidden {
  visibility: hidden;
  display: block;
}
